<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2">
    <title>Faces Detection</title>
    <style>
        body{
            background-color: wheat;
        }
        a{
            font-size: 80px;
            position: relative;
            left: 240px;
            color: black;
        }
        p#header{
            font-size: 60px;
            position: relative;
            left: 120px;
            color: darkorange;
        }
    </style>
</head>
<body>
    <header>
        <p id="header">Faces on the road</p>
    </header>
    <section>
        <img src="{{ user_image }}" alt="User Image">
        <p>
            <form method="post" action="face">
                <input type="submit" name="submit" value="Save">
            </form>
            {{ sub_status }}</p>
    </section>
    <a href="">Home</a>
</body>
</html>