<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ETS</title>
    <style>
    body {
    background-image: url("../static/image/safety.jpg");
    background-repeat: no-repeat;
    }
    #header{
    background-color:#02d5ff;
    font-size: 45px;
    position: relative;
    left: 200px;
    }
    a{
    background-color: #ececed;
    font-size: 30px;
    position: relative;
    left: 500px;
    }
    </style>
</head>
<body>
<section>
    <a id="header">Welcome to Edison Traffic Safty System</a>
</section>
<section>
    <a href="show" style="color:dodgerblue">Click to see the road situation</a>
</section>
<section>
    <a href="detect" style="color:tomato">Click to see the label detection</a>
</section>
<section>
    <a href="face" style="color:yellowgreen">Click to see the face detection</a>
</section>
<section>
    <a href="save" style="color:orange">Click to see the saved situations</a>
</section>
</body>
</html>