<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ETS</title>
    <style>
    body {
    background-image: url("safty.jpg");
    background-repeat: no-repeat;
    }
    #header{
    background-color:#00ffe1;
    font-size: 45px;
    position: static;
    }
    a{
    background-color: #ececed;
    font-size: 30px;
    position: relative;
    left: 360px;
    }
    </style>
</head>
<body>
<section>
    <a id="header">Welcome to Edison Traffic Safty System</a>
</section>
<section>
    <a href="show" style="color:dodgerblue">Click to see the road situation</a>
</section>
<section>
    <a href="detect" style="color:tomato">Click to see the label detection</a>
</section>
</body>
</html>